.card {
  border: 1px solid #666;
  font-family: Arial, sans-serif;
  border-radius: 5px;
  width: 73px;
  height: 100px;
  padding: 5px;
  position: relative;
  background-color: #fff;
  text-align: center;

  &.back {
    background-color: white;
    background-repeat: no-repeat;
    background-image: url('../images/card_back.png');
    background-size: cover;
  }

  &.diams, &.hearts {
    color: #f00;
  }

  &.spades, &.clubs {
    color: black;
  }

  .rank, .suit {
    display: block;
    line-height: 1;
    text-align: left;
  }

  .suit {
    line-height: .7;
    
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 40px;
    }
  }

  &.hearts .suit {
    &:after {
      content: "\2665";
    }
  }

  &.spades .suit {
    &:after {
      content: "\2660";
    }
  }

  &.clubs .suit {
    &:after {
      content: "\2663";
    }
  }

  &.diamonds .suit {
    &:after {
      content: "\2666";
    }
  }
}