
#root {
  overflow: hidden;
  max-height: 100vh;
  max-width: 100vw;
}

.App {
  text-align: center;
  height: 100vh;
  min-height:600px;
  min-width: 940px;
  display: flex;
  flex-direction: column;

  .image-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    z-index: -1;
    opacity: 0.1;
  }

}

