/*
--------------------------------------------------------------------------------
IMAGES
--------------------------------------------------------------------------------
*/

// $back1: url('../images/back1.jpg');
// $back1: url('../images/back1.jpg');

/*
--------------------------------------------------------------------------------
VARIABLES
--------------------------------------------------------------------------------
*/
$radius: .4rem;
$green: #1db954;
$yellow-green: #E8F078;
$grey: #828282;
$sand: #ecebe8;
$dark: #181818;
$orange: #dc941e;

$button-raise: 4px;

$page-padding: 6rem;

$header-height: 104px;
$footer-height: 50px;